.banner__imagem {
    /* height: calc(100vh-72px); media queries*/
    background: url("../../img/banner.jpg") no-repeat center / cover;
    width: 100%;
    
}


/* a imagem passará a ocupar 100% do tamanho da janela do navegador, 
mas removendo o tamanho do cabeçalho, fazendo com que uma rolagem mais breve 
já mostre a seção "Sobre" */

@media screen and (min-width: 0) {
    .banner__imagem {
        height: calc(100vh - 51px);
    }
}

@media screen and (min-width: 768px) {
    .banner__imagem {
        height: calc(100vh - 72px);
    }
}